/* boilerplate */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    color: rgb(43, 43, 43);
    /* line-height: 1.25; */
}

body {
    /* padding: 30px; */
    display: grid;
    place-items: center;
    /* background-color: slategrey; */
}

.main {
    /* width: 50%; */
    /* padding: 20px; */
    aspect-ratio: 0.707;
    background-color: white;
    /* box-shadow: 0px 10px 50px -30px rgba(0, 0, 0, 0.514); */
}

div {
    /* border: 1px solid red; */
}
table, tr, td, th{
    /* border: 1px solid red; */
}
/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* content css  */

:root{
    /* --font-size-1: 48px;
    --font-size-2: 22px;
    --font-size-3: 20px;
    --font-size-4: 18px; */
    --font-size-1: 26px;
    --font-size-2: 20px;
    --font-size-3: 16px;
    --font-size-4: 14px;
}

div.center {
    display: flex;
    place-items: center;
}
h1 {
    /* font-size: var(--font-size-1); */
    font-size: 36px;
    font-weight: 600;
    color: #4077C1;
}

h2 {
    color: #294973;   
}

h3 {
    color: #294973;
}
.header {
    display: flex;
    justify-content: space-between;
}

.contact {
    /* padding-top: 10px; */
    place-items: center;
}
.icon-hyperlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img.icon {
    width: 25px;
    aspect-ratio: 1;
    margin-right: 5px;
    margin-top: 5px;
}

img.phone {
    width: 25px;
}

img.email {
    width: 30px;
}

img.linkedin {
    width: 30px;
    position: relative;
    top: 0px;
}
img.github {
    width: 30px;
}
img.hackerrank {
    width: 30px;
}
img.leetcode {
    width: 30px;
}
span.emphasised {
    font-size: var(--font-size-3);
    font-weight: 500;
}

a {
    display: block;
    color: inherit;
    text-decoration: underline; /* no underline */
}

.title {
    font-size: var(--font-size-2);
    font-weight: 500;
    border-bottom: 2px solid #102a4d;
    margin-bottom: 5px;
    margin-top: 5px;
    color:#102a4d;
}

.content {
    display: flex;
    gap: 5px;
}

.tab {
    flex-grow: 1;
    word-wrap: break-word;
    padding-left: 10px;
    border-left: 5px solid gray;
    background-color: rgb(233, 233, 233);
}

i {
    font-size: var(--font-size-4);
}

.section {
    font-size: var(--font-size-4);
    position: relative;
}

.text {
    padding-left: 5px;
    padding-right: 10px;
    font-size: var(--font-size-3);
}

div.subheading {
    font-style: italic;
    font-size: var(--font-size-3);
    text-decoration: wavy;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}

div.time{
    position: absolute;
    right: 0;
    top: 5px;
    font-size: var(--font-size-3);
    font-weight: 600;
}

table{
    border-spacing: 7px;
}

th, td{
    padding: 0px;
    font-size: var(--font-size-3);
}

th{
    border-right: 5px solid rgba(143, 156, 197, 0.783);
    background-color: rgb(205, 214, 225);
    padding: 2px 10px 2px 10px;
}

div.text-subsection{
    padding: 5px;
}
div.text-content{
    /* padding-left: 15px; */
    /* padding-top: 5px; */
}
.text-subsection-title{
    font-size: 18px;
    font-weight: 600;
}
ol, ul {
    margin-left: 30px;
}

#projects > .text-title{
    font-size:  18px;
}
.text-techstack {
    font-size: 14px;
    color: rgb(74, 74, 74);
}

img.inline.link{
    width: 20px;
    position: relative;
    top: 5px;
}

a.custom-link{
    display: inline;
}
.text-techstack{
    color: #112846;
}